.sign-up{
    text-align: center;
    margin: 50px;
    color: blueviolet;
}
.seller-login{
    text-align: center;
    margin: 50px;
    color: blueviolet;
}
span{
    color:#666666;
    margin-top: 10px;
}
.toggle{
    margin-top: 10px;
}
a{
    cursor: pointer;
}