<div class="seller-auth">
    <div class="sign-up"> 
        <h2>Seller Signup</h2>
        <form #sellerSignUp="ngForm" class="common-form" (ngSubmit)="signUp(sellerSignUp.value)">
            <input class="form-input" type="text" placeholder="enter name" ngModel name="name">
            <input class="form-input" type="text" placeholder="enter email" ngModel name="email">
            <input class="form-input" type="password" placeholder="enter password" ngModel name="password">
            <button class="form-button">Sign Up</button>
        </form>
    </div>
</div>
