/* You can add global styles to this file, and also import other style files */
.body{
    font-family: sans-serif;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}
.common-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;

}
.form-input{
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid blueviolet;
    border-radius: 2px;
    color: blueviolet;
}
.form-button{
    height: 30px;
    border: 1px solid blueviolet;
    border-radius: 2px;
    cursor: pointer;
    color: blueviolet;
}
